<!-- filepath: c:\Users\curtis siahe\Documents\University Course\Webservice\product-inventory-CRUD-\Views\Pages\editProduct.ejs -->
<h1>Edit Product</h1>
<form action="/products/<%= product._id %>/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label>Name:</label>
    <input type="text" name="name" value="<%= product.name %>" required>
  </div>
  <div>
    <label>Price:</label>
    <input type="number" name="price" value="<%= product.price %>" required>
  </div>
  <div>
    <label>Description:</label>
    <input type="text" name="description" value="<%= product.description %>" required>
  </div>
  <div>
    <label>Category:</label>
    <input type="text" name="category" value="<%= product.category %>" required>
  </div>
  <div>
    <label>Stock:</label>
    <input type="number" name="stock" value="<%= product.stock %>" required>
  </div>
  <div>
    <label>Vendor:</label>
    <input type="text" name="vendor" value="<%= product.vendor %>" required>
  </div>
  <button type="submit">Update Product</button>
</form>